hr {
	border-style: dotted none none none;
	border-width: 5px;
	border-color: #e8ecd6;
	width: 20%;
}

h1{
  font-family: 'Give You Glory', cursive;
  font-size: 3rem;
	color: #66BFBF;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.0rem;
	color: #66BFBF;
}

.cloud {
  width: 100px;
  height: 80px;
  display: block;
  position: relative;
  margin:auto;
}

.top-cloud {
  left:300px;
}

.bottom-cloud {
  right:300px;
}

.top-container {
  text-align: center;
  background-color: #EAF6F6;
}

.avatar {
  border-radius: 100%;
  width: 100px;
  height: 125px;
  vertical-align:middle;
}
